#grid th.included{
    background-color:orange;
}
#grid th{
    color:white;
    background-color:gray;
    width:50px;
    border:2px solid transparent;
}
#grid th.highlight{
    border: 2px solid green;
    background-color:green;
}
#grid td{
    width:50px;
    cursor:pointer;
    text-align:center;
    font-weight:bold;
    border: 1px solid white;
}
#grid .in-path{
    background-color:red;
}
#grid .is-last{
    background-color:gold;
}
#grid td.highlight-main{
    border: 1px solid green !important;
    background-color:green;
    color:white;

}
#grid td.highlight{
    border: 1px solid green !important; 
    background-color:gold;
}
#grid tr{
    height:50px;
}
#alignment {
    min-width:250px;
}
#alignment td{
    width:30px;
    font-weight:bold;
}

label{
    float:left;
    margin-right:10px;
}
.seq {
    width:195px;
    float:left;
    text-transform: uppercase;
}

.params{
    width:70px;
}

#result{
    border-left:2px solid black;
    padding-left:10px;
}

#tooltip {
	display:block;
	position: absolute;
	z-index: 9000;
	border-radius:10px;
	color:white;
	padding: 5px;
	opacity: 0.96;
	margin:0;
    max-width:600px;
    background-color:navy;
    color:white;
}
#tooltip h3, #tooltip div, #tooltip p{ margin: 0; text-align:center; }

#tooltip table td{
    border:1px solid white;
    color:white;
    max-width:170px;
    padding:5px;
    vertical-align:top;
}

td{
    background-repeat:no-repeat;
}

#grid td.s {
    background-image:url('images/s.png');
    border:1px solid black;
}

#grid td.u {
    background-image:url('images/u.png');
    border:1px solid black;
}

#grid td.d {
    background-image:url('images/d.png');
    border:1px solid black;
}

#grid td.d.s {
    background-image:url('images/ds.png');
}

#grid td.d.u {
    background-image:url('images/du.png');
}

#grid td.s.u {
    background-image:url('images/su.png');
}

#grid td.d.s.u {
    background-image:url('images/dsu.png');
}